body, html {
	height: 100%;
	font-family: "Lucida Console", "Courier New", monospace;
  }
  
  * {
	box-sizing: border-box;
  }

  .h1{
	  color: black;
  }

  .bg-image {

	background-color: #343a40;
  
	height: 100%;
  
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  .bg-text {
	background-color: rgb(0,0,0); 
	background-color: rgba(0, 0, 0, 0.287); 
	color: white;
	font-weight: bold;
	font-family: "Lucida Console", "Courier New", monospace;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
	  line-height: 1.5em;
	}

  .btn{
  padding-top: 20px;}
  
  .submit-button{
	  background-color: gray;
	  font-family: "Lucida Console", "Courier New", monospace;
  	  color: white;
	  border-radius: 20px;
	  padding: 10px;
	  
  }
  
  .submit-button:hover{
	  background-color:  gray;
	  transition: 0.5s;
   	  box-shadow: 5px 5px 5px 5px #343a40;;
  }
  
			  