* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family:  "Lucida Console", "Courier New", monospace;
}

.container{
    background-color: #222;
    color: #fff;
    background-size: cover;
    background-position: center;
    max-width: 450px;
    height: 100vh;
    margin: auto;
    position: relative;
    border-radius: 10px;
}

.custom-img-box {
    height: auto;
    max-height: 300px;
    border-radius: 10px;
}

#textBox{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

#prevText{
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    width: 90%;
    font-size: 32px;
    text-align: center;
    text-shadow: 2px 2px 20px #000;
}

.upload-icon{
    position: absolute;
    bottom: 100px;
    width: 60px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

